.page-title {
  padding: 16px;
  h1 {
    color: #40916c;
  }
  h2 {
    color: #582f0e;
    margin-top: 8px;
    margin-bottom:16px;
    margin-left:16px;
    font-size: 40px;
    font-weight: 400;
    font-weight: bold;
    // margin-top: 40px;
    padding-bottom: 15px;
  }
  p {
    color: #40916c;
    font-size: 16px;
    text-align: justify;
  }
  p span.gauche {
  // float: left;
    color: #582f0e;
    // margin-top: 8px;
    // margin-bottom:16px;
    margin-left:16px;
    font-size: 40px;
    font-weight: 400;
    font-weight: bold;
    // padding-bottom: 15px;
  }
  p span.droite {
  //float: right;
  padding-top:4px;
  }
}

.page-title-1 {
  p {
    color: #0E0000;
    font-size: 16px;
    text-align: justify;
  }
}

#vert {
   color: #40916c;
}

.form-title {
  color: #FF006B;
}
